<h1>Welcome to SuperMOO</h1>
<p>Default, uninteresting page</p>


<p>I'm thinking something like a cross between Roadside Picnic and Ian M Banks stuff. And maybe Dungeon Keeper and the Forbidden Planet. An alien megastructures like Larry Niven's RingWorld, but with a twist - it's a Mobius Strip.
A world of technology sufficiently advanced that it is indistinguishable from magic. A world populated by aliens, robots, mutants, and strange creatures created by unknownable forces. 
Nanotechnology will grant players incredible abilities, and also pose deadly dangers. A world shaped by the dreams and darkest desires of those brave enough to venture in. 
I want to blur the lines between the players and the content creators, so that content is created by actually playing the game.</p>


<div class="world">The world</div>



